html, body{
  margin: 0;
  padding: 0;
}

body {
}

header{
    color: white;
    text-align: center;
    background-color: #54CFFE;
    margin: 0;
    overflow-y: hidden;
}


ul{
    list-style-type: none;
    margin-left: 120px;
    margin-right: 120px;
    padding: 1rem;
    overflow: hidden;
    margin: 0;
    position: relative;
}

li{
    float: left;
    min-width: 20%;
    max-width: 100%;
}

li a{
    padding: 1rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-color: #fff;
}

li a:hover:not(.active){
    background-color: rgba(0, 0, 0, 0.4);
}

.active{
    background-color: rgba(0,0,0,0.3);
}

footer {
    position: absolute;
    width: 100%;
    background-color: #343E3D;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 0;
}


.landscape {
  background-attachment: fixed;
  background-image: url(landscape.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.underwater {
  background-attachment: fixed;
  background-image: url(bg-underwater.png);
  background-repeat: no-repeat;
  height: 3000px;
  width:100%;
}

.sun {
  background-image: url(SUN.png);
  radius: 50px;
  top: 20;
  z-index: 124;

}


/*train animtaion:
*/
@keyframes train {
  0% {left: 2300px}
  100% {left: -1000px}
}
/*train animtaion end:
*/


div.fish{
  height: 15px;
  widows: 30px;
  position: absolute;
}
#fish1 {

  background-image: "/fish1.png";
  top:200px;
  left:200px;
  z-index: 10;
}
/*
Fish animation
*/


/* bubble animations:
Delt inn i groups for å bestemme hvor boblene skal komme opp fra.
ID for å endre på hver spesifikk boble.(størrelse, animation-timing)
*/



.bubble-group1 {
position: absolute;
bottom: -1935px;
left: 10%;
background-color: solid #CECECE;
opacity: .4;
border: 1px solid white;
border-radius: 50%;
}

.bubble-group2 {
  position: absolute;
  bottom: -2100px;
  left: 35%;
  background-color: #CECECE;
  opacity: .4;
  border: 1px solid white;
  border-radius: 50%;
}

.bubble-group3 {
  position: absolute;
  bottom: -2100px;
  left: 85%;
  background-color: #CECECE;
  opacity: .3;
  border: 1px solid white;
  border-radius: 50%;
}

.bubble-group4 {
  position: absolute;
  bottom: -2100px;
  left: 60%;
  background-color: #CECECE;
  opacity: .35;
  border: 1px solid white;
  border-radius: 50%;
}

  #bubble1 {
  width: 30px;
  height: 30px;
  animation: bubbleUp 12s infinite;
  animation-delay: 5s;
  background-color: #CECECE;
  border-radius: 50%;
  left: 100px;
}

  #bubble2 {
  width: 15px;
  height: 15px;
  animation: bubbleUp 16s infinite;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble3 {
  width: 25px;
  height: 25px;
  animation: bubbleUp 11s infinite;
  animation-delay: 1s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble4 {
  width: 30px;
  height: 30px;
  animation: bubbleUp 20s infinite;
  animation-delay: 3s;
  background-color: #CECECE;
  border-radius: 55%;
}

#bubble5 {
  width: 10px;
  height: 10px;
  animation: bubbleUp 18s infinite;
  background-color: #CECECE;
  border-radius: 45%;
}

#bubble6 {
  width: 40px;
  height: 40px;
  animation: bubbleUp 15s infinite;
  animation-delay: 1.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble7 {
  width: 50px;
  height: 50px;
  animation: bubbleUp 13.4s infinite;
  animation-delay: 3.5s;
  background-color: #CECECE;
  border-radius: 58%;
}

#bubble8 {
  width: 25px;
  height: 22px;
  animation: bubbleUp 13s infinite;
  background-color: #CECECE;
  border-radius: 54%;
}

#bubble9 {
  width: 20px;
  height: 23px;
  animation: bubbleUp 7s infinite;
  animation-delay: 0.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble10 {
  width: 20px;
  height: 23px;
  animation: bubbleUp 9s infinite;
  animation-delay: 0.9s;
  background-color: #CECECE;
  border-radius: 54%;
}

#bubble11 {
  width: 15px;
  height: 15px;
  animation: bubbleUp 7s infinite;
  animation-delay: 0.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble12 {
  width: 10px;
  height: 10px;
  animation: bubbleUp 5s infinite;
  background-color: #CECECE;
  border-radius: 50%;
}
/* bubble animations:
*/

@keyframes bubbleUp {
  100% {transform: translateY(-2195px);}
}
/* bubble animations end:
*/

@keyframes train {
  0% {left:2300px} /*left:2300pxtransform: translateX(320px)*/
  100% {left:-1000px} /*{transform: translateX(-1500px)*/
}






* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fedcc8;
}

/*
.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
    z-index:4;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
        display: block;
        position: absolute;
        bottom: 0;
    }
}

.parallax__cover {
    background: #2d112b;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 2;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
    $x: ($parallax__layers - $i) / 2;
    .parallax__layer__#{$i} {
        transform: translateZ(-100 * $x#{px}) scale($x + 1);
    }
}
