html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 3050px;
}

header{
    color: white;
    text-align: center;
    background-color: #54CFFE;
    margin: 0;
    overflow-y: hidden;
}


ul{
    list-style-type: none;
    margin-left: 120px;
    margin-right: 120px;
    padding: 1rem;
    overflow: hidden;
    margin: 0;
    position: relative;
}

li{
    float: left;
    min-width: 20%;
    max-width: 100%;
}

li a{
    padding: 1rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-color: #54CFFE;
}

li a:hover:not(.active){
    background-color: #54CFFE;
}

.active{
    background-color: cornflowerblue;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #343E3D;
    color: white;
    text-align: center;
    padding: 2rem;
}

 .parallax /* [class*="bg__"] */ {
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
}

.bg__underwater {
  height: 2950px;
  width: 1920px;
  background-image: url(oslo\ botton2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1920px 3000px;
}


/*train:
*/
.train {
background-image: url(tog.png);
background-repeat: no-repeat;
position: absolute;
width: 600px;
height: 250px;
top: 2700px;
left: 80%;
animation: train 6s infinite;
z-index: 2;
}

.tunnel {
  background-image: url(tunnel.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -2148px;
  left: -230px;
  height: 210px;
  width: 2200px;
  z-index: 3;
}


/*train animtaion:
*/
@keyframes train {
  0% {left: 2300px}
  100% {left: -1000px}
}
/*train animtaion end:
*/


div.fish{
  height: 15px;
  width: 30px;
  position:absolute;
  bottom: 0px;
}
#fish1 {

  background-image: "/fish1.png";



}
/*
Fish animation
*/


/* bubble animations:
Delt inn i groups for å bestemme hvor boblene skal komme opp fra.
ID for å endre på hver spesifikk boble.(størrelse, animation-timing)
*/



.bubble-group1 {
position: absolute;
bottom: -2050px;
left: 10%;
background-color: solid #CECECE;
opacity: .4;
border: 1px solid white;
border-radius: 50%;
}

.bubble-group2 {
  position: absolute;
  bottom: -2050px;
  left: 35%;
  background-color: #CECECE;
  opacity: .4;
  border: 1px solid white;
  border-radius: 50%;
}

.bubble-group3 {
  position: absolute;
  bottom: -2050px;
  left: 85%;
  background-color: #CECECE;
  opacity: .3;
  border: 1px solid white;
  border-radius: 50%;
}

.bubble-group4 {
  position: absolute;
  bottom: -2050px;
  left: 60%;
  background-color: #CECECE;
  opacity: .35;
  border: 1px solid white;
  border-radius: 50%;
}

  #bubble1 {
  width: 30px;
  height: 30px;
  animation: bubbleUp 12s infinite;
  animation-delay: 5s;
  background-color: #CECECE;
  border-radius: 50%;
  left: 100px;
}

  #bubble2 {
  width: 15px;
  height: 15px;
  animation: bubbleUp 16s infinite;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble3 {
  width: 25px;
  height: 25px;
  animation: bubbleUp 11s infinite;
  animation-delay: 1s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble4 {
  width: 30px;
  height: 30px;
  animation: bubbleUp 20s infinite;
  animation-delay: 3s;
  background-color: #CECECE;
  border-radius: 55%;
}

#bubble5 {
  width: 10px;
  height: 10px;
  animation: bubbleUp 18s infinite;
  background-color: #CECECE;
  border-radius: 45%;
}

#bubble6 {
  width: 40px;
  height: 40px;
  animation: bubbleUp 15s infinite;
  animation-delay: 1.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble7 {
  width: 50px;
  height: 50px;
  animation: bubbleUp 13.4s infinite;
  animation-delay: 3.5s;
  background-color: #CECECE;
  border-radius: 58%;
}

#bubble8 {
  width: 25px;
  height: 22px;
  animation: bubbleUp 13s infinite;
  background-color: #CECECE;
  border-radius: 54%;
}

#bubble9 {
  width: 20px;
  height: 23px;
  animation: bubbleUp 7s infinite;
  animation-delay: 0.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble10 {
  width: 20px;
  height: 23px;
  animation: bubbleUp 9s infinite;
  animation-delay: 0.9s;
  background-color: #CECECE;
  border-radius: 54%;
}

#bubble11 {
  width: 15px;
  height: 15px;
  animation: bubbleUp 7s infinite;
  animation-delay: 0.5s;
  background-color: #CECECE;
  border-radius: 50%;
}

#bubble12 {
  width: 10px;
  height: 10px;
  animation: bubbleUp 5s infinite;
  background-color: #CECECE;
  border-radius: 50%;
}
/* bubble animations:
*/

@keyframes bubbleUp {
  100% {transform: translateY(-2200px);}
}
/* bubble animations end:
*/

@keyframes train {
  0% {left:2300px} /*left:2300pxtransform: translateX(320px)*/
  100% {left:-1000px} /*{transform: translateX(-1500px)*/
}
